# Azure Blob Storage Configuration
# Obtenha a Connection String no Portal Azure: Storage Account > Security + networking > Access keys
AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=nuclei-results

# Server & Security Configuration
PORT=5000
FLASK_DEBUG=False
ADMIN_PASSWORD=sua_senha_secreta_aqui
SECRET_KEY=chave_secreta_para_assinatura_de_tokens

